<section id="auth">
<h2>Authentication providers</h2>

<div id="auth">
   <% if @authentications and @authentications.count > 0 %>
      <h3>The following accounts are linked to your current login</h3>
      <% for auth in @authentications %>
           <div id="auth_providers">
               <%= image_tag "#{auth.provider}_32.png", :size => "32x32", :alt => "Facebook" %>
               <%= auth.provider.titleize %>
           </div>
           <div class="user">
	     <div class="name">Name: <%= auth.name %> uid: <%= auth.uid %></div> 
	     <div class="email">Email: <%= auth.email %> </div>
	     <div class="token">Token: <%= auth.token %> (dont show this in production) </div>
             <div class="remove">
                <% @authentications.count == 1 ? @warn = "Removing this may completely delete your account.." : @warn = '' %>
                <%= link_to "Remove",  auth, :confirm=> "Are you sure?" + @warn, :method=>:delete, :class=> "remove" %>
             </div>
           </div>
      <% end %>
   <% end %>

   <% if user_signed_in? %>
   <h3>You can link your account to the following providers</h3>
   <% else %>
   <h3>You can sign in through the following providers</h3>
   <% end %>
   <div id="auth_providers">
      <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
      <a href="/auth/facebook" class="auth_providers">Facebook</a><br>
   </div>
</div>
<br><br>
<% if !user_signed_in? %>
<strong>Don't use these services?</strong>
<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> with a password.
<% end %>
