<%= form_for @travelinfo do |f| %>
  <%= f.error_messages %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
     
  <p>
    <%= f.label :origin, "Departing from:" %><br />
    <%= f.text_field :origin %>
  </p>
  <p>
    <%= f.label :destination, "To:" %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :departdate, "Departure date:" %><br />
    <%= f.date_select :departdate %>
  </p>
  <p>
    <%= f.label :returndate, "Return date:" %><br />
    <%= f.date_select :returndate %>
  </p>
  
  <p>
    Are you willing to get/bring something on this trip for friends? <br>
    <%= f.radio_button :willship, "Yes" %> Yes <br> 
	<%= f.radio_button :willship, "No" %> No <br>
	<%= f.radio_button :willship, "Not sure yet" %> Not sure yet <br>

    <%#= f.label :willship %><br />
    <%#= f.text_field :willship %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
