<% user = User.all() %>

<% title "My trips" %>

<%= current_user.id %>

<table>
  <tr>
    
    <th>Departing from:</th>
    <th>To:</th>
    <th>Departure date</th>
    <th>Return date</th>
    <th>Willing to ship?</th>
  </tr>
  <% for travelinfo in @travelinfos %>
    <% if Integer(travelinfo.user_id) == current_user.id %>
	
    <tr>
        <td><%= travelinfo.origin %></td>
        <td><%= travelinfo.destination %></td>
        <td><%= travelinfo.departdate %></td>
        <td><%= travelinfo.returndate %></td>
        <td><%= travelinfo.willship %></td>
        <td><%= link_to "Edit", edit_travelinfo_path(travelinfo) %></td>
        <td><%= link_to "Delete", travelinfo, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
	<% end %>   <!-- end if statement to display current user info only -->
  <% end %>
</table>

<p><h2><%= link_to "Post new trip", new_travelinfo_path %></p></h2>


<h1> My friends' trips </h1>


<table>

  <tr>
    <th>Friend</th>
    <th>Departing from:</th>
    <th>To:</th>
    <th>Departure date</th>
    <th>Return date</th>
    <th>Willing to ship?</th>
  </tr>
  
  <% ufr = current_user.friendships %>
  <% ufr.each do |f| %> 
	
          <% for travelinfo in @travelinfos %> 
	        <% if Integer(travelinfo.user_id) == f.friend_id %>
				
              <tr>
              <td><%= f.friend_id %></td>  <!-- HOW TO LIST FRIEND NAME INSTEAD OF ID HERE??? -->
			  <td><%= travelinfo.origin %></td>
              <td><%= travelinfo.destination %></td>
              <td><%= travelinfo.departdate %></td>
              <td><%= travelinfo.returndate %></td>
              <td><%= travelinfo.willship %></td> 
              </tr>
	        <% end %>   <!-- end if statement to check for friends info -->
          <% end %>   <!-- end for loop through travelinfo -->
        
  
  <% end %> <!-- end f loop through user friendships -->
  
</table>  
  
