<% title "My travel plans" %>

<p>
  <strong>Departing from:</strong>
  <%= @travelinfo.origin %>
</p>
<p>
  <strong>Destination:</strong>
  <%= @travelinfo.destination %>
</p>
<p>
  <strong>Departure date:</strong>
  <%= @travelinfo.departdate %>
</p>
<p>
  <strong>Return date:</strong>
  <%= @travelinfo.returndate %>
</p>
<p>
  <strong>Willing to ship something for friends:</strong>
  <%= @travelinfo.willship %>
</p>

<p>
  <%= link_to "Edit", edit_travelinfo_path(@travelinfo) %> |
  <%= link_to "Delete", @travelinfo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to my trip list", travelinfos_path %>
</p>
