<section id="auth">
<h1>Users and their friends</h1>

<% if auths = Authentication.find_all_by_provider('facebook') %>
      <% auths.each do |auth| %>
        <% friends = auth.find_friends %>
          <div class="user">
           <div class="id">User ID: <%= auth.user_id %> </div>
           <div class="name">User Name: <%= auth.name %> uid: <%= auth.uid %></div>
           <div class="email">User Email: <%= auth.email %> </div>

           <div class="friends">Friends: <%= friends["data"].length %> friends found
           <br>
           <% friends["data"].each do |f| %> 
            <%= f %>
            Name: <%= f["name"] %> uid: <%= f["id"] %><br>
           <% end %>
           </div> <br>
           <% if friends["paging"] %>   
              Url for more: <%= friends["paging"]["next"] %><br>
           <% end %>
          </div>
          <br><br>
       <% end %>
<% end %>

