<h1>Zingatlas logo</h1>


 
<!-- <TABLE BORDER="2" CELLPADDING="2" CELLSPACING="2" WIDTH="800"> -->
<!-- <TR> -->
<!-- <TD WIDTH="200">Column 1</TD> -->
<!-- <TD WIDTH="100">Column 2</TD> -->
<!-- </TR> -->
<!-- </TABLE> -->


<DIV style="
  position: absolute; 
  top:120px; left:150px; width:500px; height:25px">
  <strong>Friend-to-friend shipping network</strong><br>
  One good turn deserves another: use Zingatlas to send or receive items from abroad or help your friends move 
  their stuff around the world to avoid high shipping costs.
</DIV>


<DIV style="
  position: absolute; 
  top:120px; left:800px; width:200px; height:25px">
  
  <% if user_signed_in? %>
<!--    <%= link_to "Request an item", new_itemrequest_path %>     -->
	<%= link_to "View and Request items", itemrequests_path %>     
  <% else %>
    <%= link_to "Request an item", new_user_registration_path %>  
  <% end %>
</DIV>


<DIV style="
  position: absolute; 
  top:170px; left:800px; width:200px; height:25px">
  
  <% if user_signed_in? %>
    <%= link_to "View and post travel plans", travelinfos_path %>     
  <% else %>
    <%= link_to "Post travel plans", new_user_registration_path %>  
  <% end %>
  
</DIV>

  
</DIV>

<DIV style="
  position: absolute; 
  top:220px; left:200px; width:200px; height:25px">
<img src="http://placecupcak.es/640/480" alt="map placeholder" />
</DIV>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
map placeholder