<% title "Offer Details" %>

<% user = User.all() %>
<% offer = Offer.all() %>

<% offer.each_with_index do |z, index | %>  
  <#% if z.itemrequest.id == itemrequest.id %>
	<% ux = User.find_by_id(z.user_id) %>
	<% junk = User.find_by_id(@array_userid) %>
	JUNK= <%= junk %> <br>
	
   	<%= z.id %>, <%= ux.email %>		<br>
  <#% end %>  <!-- check itemrequest_id == offer's itemrequest id -->
<% end %> <!-- z loop -->


<p><%= link_to "Back", itemrequests_path %> </p>