<% user = User.all() %>

<% cuf = current_user.friendships %>

<!--These functions are no longer defined in friendships_helper.rb -->
<!-- They re defined in user.rb and initialized in pages_controller.rb -->
<%# pf = pending_forward %> 
<%# pi = pending_inverse %> 
<%# myf = my_friendlist %>


<h1>Zingatlas users:</h1>
<%# here we implement the search form as in Railscast %>
<%= form_tag userlist_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%# uu is replaced by @unconnected_users initialized in the controller pages_controller.rb %>
<% @unconnected_users.each_with_index do |r, index| %>
  <strong><%= r.email %> </strong>
  <%= link_to "Add Friend", friendships_path(:friend_id => r.id), :method => :post %> <br>
<% end %>

<br>


<h2>Friend requests sent to:</h2>

<% if @pending_forward_users.count > 0 %>  <!--current user has sent friend requests -->  
      
  <% @pending_forward_users.each do |pendingforward_output| %>
    <strong><%= pendingforward_output[0].email %> </strong> 
    (<%= link_to "remove", pendingforward_output[1] , :method => :delete %>) <br> 
  <% end %>
  <% else %>
    No outgoing friend requests. <br>	
<% end %>  <!--end @pending_forward_users.count if statement -->

 
<h2>Incoming friend requests:</h2>  

<% if @pending_inverse_users.count > 0 %> <!-- there are incoming unconfirmed and/or confirmed friend requests -->
  <% @pending_inverse_users.each do |pendinginv_output| %>
    <strong><%= pendinginv_output[0] %></strong> 
	<%= link_to "Accept", pendinginv_output[1], :method => :put %>,
    <%= link_to "Deny", pendinginv_output[1], :method => :delete %>	<br>
  <% end %>

<% else %>
  No incoming friend requests. <br>	
  
<% end %>


<h2>My Friends:</h2>  

<% if @my_friendlist_users.count > 0 %>
  <% @my_friendlist_users.each do |myfriends_output| %>
    <strong><%= myfriends_output[0].email %></strong> 
      (<%= link_to "remove", myfriends_output[1], :method => :delete %>)	<br>
  <% end %>
<% else %>
  No friends.
<% end %>
