<% user = User.all() %>

<% pf = pending_forward %>
<% pfindex = testjunk %>
<% pi = pending_inverse %> 

<h2>Friend requests sent to:</h2>

<% if pf.count > 0 %>  <!--current user has sent friend requests -->        
  <% pf.each_with_index do |t, index| %>
   <strong><%= t %> </strong>
   (<%= link_to "remove", pfindex[index] , :method => :delete %>) <br>
  <% end %>
  <% else %>
    No incoming friend requests. <br>	
<% end %>  <!--end pf.count if statement -->
  
<h2>Incoming friend requests:</h2>  
<% if pi.count > 1 %>  <!--current user has incoming friend requests -->
  <% pi.each do |r| %>
   <strong><%= r.email %> </strong> <%= r.id %>
   <%= link_to "Accept", friendships_path(:friend_id => r.id), :method => :post %> <br>
   <br>
  <% end %>
<% end %>



<br>

<h1>Make a friend request to a Zingatlas user:</h1>

<% user.each do |f| %> 
  <div class="user">
	<% if f.email != current_user.email %>
      <strong><%= f.email %></strong> 
	  <%= link_to "Add Friend", friendships_path(:friend_id => f.id), :method => :post %> <br>
	<% end %>
    <div class="clear"></div>
  </div>	
<% end %> 

<h2>Friend requests sent to:</h2>

<% test = pending_forward %>
<% testj = testjunk %>
<% test.each_with_index do |t, index| %>
   <strong><%= t %> </strong>
   (<%= link_to "remove", testj[index] , :method => :delete %>) <br>
<% end %>


</br>

<br>OLD WAY: <br>  
<% ufr = current_user.friendships %>
<% ufr.each do |f| %> 
  <li>
  <% ux = User.find_by_id(f.friend_id) %>
    <%# user.each do |ux| %> <!-- don't need this inner loop!! use find_by fn above!!!!!! -->
	  <% if ux.id == f.friend_id %>   
	    <strong><%= ux.email %></strong> 
      <% end %>
    <%# end %>
    (<%= link_to "remove", f, :method => :delete %>) <%= f %>
  </li> 
<% end %> 
 
<h1>Incoming friend requests:</h1>

<% rlist = pending_inverse %> <br>
<% rlist.each do |r| %>
   <strong><%= r.email %> </strong> <%= r.id %>
   <%= link_to "Accept", friendships_path(:friend_id => r.id), :method => :post %> <br>
   
   
   <br>
<% end %>

<br>

<br> OLD WAY:<br>
<% uinf = current_user.inverse_friends %>  
 <ul>
  <% uinf.each do |f| %> 
	<li>
	<strong><%= f.email %></strong> 
    <%= link_to "Accept", friendships_path(:friend_id => f.id), :method => :post %> <br>
	</li>
	<% end %>
</ul>
 
<h1>My friends:</h1>

<% uinf = current_user.inverse_friends %> 
<% ufr = current_user.friendships %>

 <ul>
  <% uinf.each do |f| %>  
    
	<% current_user.friendships.each do |ux| %> 
<%#= f.email %>	<%#= f.id %> <br>
<%#= ux.user_id %> <%#= ux.friend_id %>

	  <% if ux.friend_id == f.id %>   
	    <li>
	      <strong><%= f.email %></strong> (<%= link_to "remove", ux, :method => :delete %>)
   	    </li>
	  <% end %>   <!-- end if statement -->	  
    <% end %>   <!-- end ux loop -->	
  <% end %>   <!-- end f loop -->
</ul>
 


