<% user = User.all() %>

<% cuf = current_user.friendships %>
<%# cuif = current_user.inverse_friends %>

<!--Functions defined in friendships_helper.rb -->
<% uu = unconnected_users %>
<% uufriendid = uu_fid %> <!--TEMPORARY FN UNTIL I GET HELP!-->
<% pf = pending_forward %>
<% pfindex = testjunk %>     <!--TEMPORARY FN UNTIL I GET HELP!-->
<% pi = pending_inverse %> 
<% myf = my_friendlist %>
<% myfindex = my_friendlist_index %> <!--TEMPORARY FN UNTIL I GET HELP!-->

<h1>Zingatlas users:</h1>
<% uu.each_with_index do |r, index| %>
  <strong><%= r %> </strong> <%= uufriendid[index] %>
  <%= link_to "Add Friend", friendships_path(:friend_id => uufriendid[index]), :method => :post %> <br>
<% end %>

<br>

<h2>Friend requests sent to:</h2>

<% if pf.count > 0 %>  <!--current user has sent friend requests -->        
  <% pf.each_with_index do |t, index| %>
   <strong><%= t %> </strong> <%= pfindex[index] %>
   (<%= link_to "remove", pfindex[index] , :method => :delete %>) <br>
  <% end %>
  <% else %>
    No outgoing friend requests. <br>	
<% end %>  <!--end pf.count if statement -->
  
<h2>Incoming friend requests:</h2>  
test<br>

<% requester = current_user.inverse_friendships.find(:all) %>
<%= requester %><br>

<% if pi.count > 1 %>
      <% pi.each do |r| %>
       <!-- read pending col -->
	    <% user.each_with_index do |f,index| %>
	      <% if index == r.user_id - 1 %>
            <% pending = f.friendships[0].pending %>
			<%= pending %>
			
	      <% end %>
        <% end %>
      <% end %>
    <% end %>

end test<br><br>

<% if pi.count > 0 %>  <!--current user has incoming friend requests -->
  <% pi.each do |r| %>
   <% ux = User.find_by_id(r.user_id) %> <strong><%= ux.email %></strong> 
   <%#= link_to "Accept", friendships_path(:user_id => r.id), :method => :put %>
   <%= link_to "Accept", r, :method => :put %> <br>
  <% end %>
  <% else %>
    No incoming friend requests. <br>	
<% end %>

<br>try:<br>
size:<%= cuf.size %><br>
<%#= current_user.friendships[0].pending %>,
<%#= current_user.friendships[1].pending %>,
<%#= current_user.friendships[2].pending %><br>

<%# for i in 0..@cuf.size-1 %>
  <%# if current_user.friendships[i].pending != 2 %>
    <%# tmp = current_user.friendships[i].friend_id %><br>
	<%# ux = User.find_by_id(tmp) %>
	<%#= ux.email %><br>
  <%# end %>
<%# end %>  
 
 <br>
  


<br>

 
<h1>My friends:</h1>
<% if myf.count > 0 %>  <!--current user has accepted incoming friend requests -->
  <% myf.each_with_index do |r, index| %>
    <strong><%= r %> </strong> <%= myfindex[index] %>
     (<%#= link_to "remove", myf[index] , :method => :delete %>) <br><br>
  <% end %>
<% else %>
    No friends currently. <br>	  
<% end %>




<!-- OLD 
<br><br>
<h2>Friends</h2>
current_user: <%= current_user %>, <%= current_user.id %>, # requests: <%= cuf.size %><br>
-->





<!-- OLD 
<% user.find([:id]) %><br>
user.last: <%= user.last %><br>
user.second.friendships[0].pending: <%= user.second.friendships[0].pending %><br>
user.third.friendships[0].friend_id: <%= user.third.friendships[0].friend_id %><br>

<br><br>

<% user.each do |f| %>
  <% ux = User.find_by_id(f.friendships) %>
  <%= ux %> <br> f.friendships:<br>
  <%= f.friendships %> <br>
<% end %>
-->

