
<% user = User.all() %>

<%= form_for @itemrequest do |f| %>
  <%= f.error_messages %>
  <!--<p>-->
	<%= f.hidden_field :user_id, :value => current_user.id %>
    <%#= f.label :current_user.email %><br />
    <%#= f.number_field :user_id %>
  <!--</p>-->
  <!--<p>-->
    <%#= f.label :uid %><br />
    <%#= f.text_field :uid %>
  <!--</p>-->
  <!--<p>-->
     <%= f.radio_button :getorsend, "Get" %> Get an item 
     <%= f.radio_button :getorsend, "Send" %>Send an item 
  <%#  <%= f.label :getorsend %>
  <%#  <%= f.text_field :getorsend %>

  <!--</p>-->
  <p>
    <%= f.label :name, "Item" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :destination, "To:" %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :origin, "From:" %><br />
    <%= f.text_field :origin %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :weight, "Weight (kg)" %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :completiondate, "Need by:" %><br />
    <%= f.date_select :completiondate %>
  </p>
  <p><%= f.submit %></p>
<% end %>
