
<% user = User.all() %>
<% offer = Offer.all() %>

<% title "My item requests" %>


<table>

  <tr>
    <!--<th>User</th>-->
    <!--<th>Uid</th>-->
    <th>Delivery</th>
    <th>Item</th>
    <th>To</th>
    <th>From</th>
    <th>Description</th>
    <th>Weight</th>
    <th>Need by</th>
	<th></th>
	<th></th>
	<th>Offers</th>
  </tr>
  
  <% for itemrequest in @itemrequests %> 
    <% if itemrequest.user_id == current_user.id %>
	 	
      <tr>
        <!--<td><%= itemrequest.user_id %></td>-->
        <!--<td><%= itemrequest.uid %></td>-->
        <td><%= itemrequest.getorsend %></td>
        <td><%= itemrequest.name %></td>
        <td><%= itemrequest.destination %></td>
        <td><%= itemrequest.origin %></td>
        <td><%= itemrequest.description %></td>
        <td><%= itemrequest.weight %></td>
        <td><%= itemrequest.completiondate.strftime("%a %d %B %Y") %></td>
		<td><%= link_to "Edit", edit_itemrequest_path(itemrequest) %></td>
		<td><%= link_to "Delete", itemrequest, :confirm => 'Are you sure?', :method => :delete %></td>
		
		
		<% flag_offers = 0 %>
		<% array_userid=[] %>
		<% count = 0 %>
		<% offerer_id =0 %> <!-- initialize -->
		<!-- Cycle through offers table to see if there are any offers -->
		<% if offer.count > 0 %>
		  <% offer.each_with_index do |z, index | %>  
		  <% if z.itemrequest.id == itemrequest.id %>
			<% ux = User.find_by_id(z.user_id) %>
			<% flag_offers = 1 %>
			<% array_userid[count] = z.user_id %>
			<% count += 1 %> 
			  
			  
			
		  <% end %>  <!-- check itemrequest_id == offer's itemrequest id -->
         <% end %> <!-- z loop -->
		<% end %> <!-- offer.count check -->	
		
		
		<% if flag_offers == 1 %>		      
   		      <td>You have offers! <%= link_to "Details", offers_path(:itemrequest=> itemrequest.id) %> </td>
		<% else %>  
		  <td>No takers yet. </td>
		<% end %>  
		


      </tr>
	<% end %>   <!-- end if statement to display current user info only -->
  <% end %>   <!-- end for loop through itemrequest -->
  
</table>

<p>
<!-- <%= link_to "Request a new item", new_itemrequest_path %> | <%= link_to "Home", root_path %> | -->

<% if offer.count == 0 %>
  <h2> <%= link_to "Request a new item", new_itemrequest_path %> </h2>
<% else %>
  <h2> <%= link_to "Request another item", new_itemrequest_path %> </h2>
<% end %>  
</p>

<%# myf = my_friendlist %> <!-- fn defined in user.rb and initialized in pages_controller.rb -->

<br>
<h1> My friends' item requests </h1>

<%= link_to "Offers I have made", offers_path %>
    
  <% if @my_friendlist_users.count > 0 %>
    <table>
    <tr>
      <th>Friend</th>
      <th>Delivery</th>
      <th>Item</th>
      <th>To</th>
      <th>From</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Need by</th>
	  <th></th>
    </tr>

    <% @my_friendlist_users.each do |f| %> 
	  	  
        <% for itemrequest in @itemrequests %> 
          <% if itemrequest.user_id == f[0].id %>
		  						
              
            <tr>
              <td><%= f[0].email %></td>  
			  <td><%= itemrequest.getorsend %></td>
              <td><%= itemrequest.name %></td>
              <td><%= itemrequest.destination %></td>
              <td><%= itemrequest.origin %></td>
              <td><%= itemrequest.description %></td>
              <td><%= itemrequest.weight %></td>
              <td><%= itemrequest.completiondate.strftime("%a %d %B %Y") %></td> 
			  
			  
			  <% flag_madeoffer = 0 %>
			  <% offer_row = 0 %>
			  <!-- Cycle through offers table to see if current_user has already made an offer -->
			  <% if offer.count > 0 %>
			    <% offer.each do |z| %>  
			      <% if z.itemrequest.id == itemrequest.id %>
				    <% if z.user_id == current_user.id %>
                      <% flag_madeoffer = 1 %>
					  <% offer_row = z.id %>
				    <% end %>	
				  <% end %>  <!-- check itemrequest_id == offer's itemrequest id -->
                <% end %> <!-- z loop -->
			  <% end %> <!-- offer.count check -->	
			  
			
			  
			  
			  <% if flag_madeoffer == 1 %>
			  
			    
   		        <td>I have offered do this </td>
				<!-- link_to "Delete offer", itemrequest_path(:id=>itemrequest, :act => 0), :method=>:put -->
				
				  <% offer.each do |z| %>  
				    <% if (z.itemrequest.id == itemrequest.id && z.user_id == current_user.id ) %>				      
					  <td><%= link_to "Delete offer", offer_path(:id=>offer_row), :method=>:delete %>	</td>					    				      
				    <% end %>  <!-- check itemrequest_id == offer's itemrequest id -->
                  <% end %> <!-- z loop -->
				
				
				
				
				<br>
				
				
		      <% elsif flag_madeoffer == 0 %>  
		        <!-- link_to "I can do this", itemrequest_path(:id=>itemrequest, :act=>1), :method => :put -->
				
				
				<td><%= link_to "I can do this", new_offer_path(:id=>itemrequest) %> </td><br>
				
		      <% end %>
		
			  
            </tr>
	      <% end %>   <!-- end if statement to check for friends info -->
        <% end %>   <!-- end for loop through itemrequest -->
        
		  		
    <% end %> <!-- end f loop through user friendships -->
	</table>
	
  <% else %>	
  Your friends have no requests.
  
  <% end %> <!-- end @my_friendlist_users.count check -->	
  
  
  
