<% title "Item request" %>

<!--<p>-->
<!--  <strong>User:</strong>-->
<!--  <%= @itemrequest.user_id %>-->
<!--</p>-->
<!--<p>-->
<!--  <strong>Uid:</strong>-->
<!--  <%= @itemrequest.uid %>-->
<!--</p>-->
<p>
  <strong>Getorsend:</strong>
  <%= @itemrequest.getorsend %>
</p>
<p>
  <strong>Name:</strong>
  <%= @itemrequest.name %>
</p>
<p>
  <strong>Destination:</strong>
  <%= @itemrequest.destination %>
</p>
<p>
  <strong>Origin:</strong>
  <%= @itemrequest.origin %>
</p>
<p>
  <strong>Description:</strong>
  <%= @itemrequest.description %>
</p>
<p>
  <strong>Weight:</strong>
  <%= @itemrequest.weight %>
</p>
<p>
  <strong>Completiondate:</strong>
  <%= @itemrequest.completiondate %>
</p>

<p>
  <%= link_to "Edit", edit_itemrequest_path(@itemrequest) %> |
  <%= link_to "Delete", @itemrequest, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Item Request list", itemrequests_path %>
</p>
