<section id="authorization">
<h2>Sign in</h2>

<h3>Sign in through an authentication provider</h3>

<div id="remote">
  <div id="auth_providers">
      <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
      <a href="/auth/facebook" class="auth_providers">Facebook</a> <br>
  </div>
</div>
<br><br>
<strong>Dont use these services? Sign-in with your local account</strong>
<div id="local">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
         <%= f.email_field :email %>
    </div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %>
    </div>
 
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>
</div>
<div id="devise_links">
  <%= render :partial => "devise/shared/links" %>
</div>
</section>
