<%= form_for @offer do |f| %>
  <%= f.error_messages %>
  
    <%#= f.label :itemrequest_id %><br />
    <%#= f.number_field :itemrequest_id %>
  
    <%#= f.label :user_id %><br />
    <%#= f.number_field :user_id %>

  <p>
    <%= f.label :cando_date, "I can get/deliver by:"  %><br />
    <%= f.date_select :cando_date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
