

<% user = User.all() %>
<% itemrequest = Itemrequest.all() %>

 <pre><% if  @offersmade  == 0 %></pre>
   hello
 <% end %>




<!-- RENDER THIS VIEW IF SHOWING OFFERS MADE *TO* CURRENT USER -->
 <pre><% if  @offersmade  == 0 %></pre>

  <% loopflag=0 %>
  <table>
    <tr>
    
	  <th>Name</th>
      <th>Can do by: </th>
    </tr>
    <% for offer in @offers %>
      <kkk % if offer.user_id == current_user.id %>
	  <% if loopflag==0 %>
	    <h1>Offers for your <%= Itemrequest.find_by_id(offer.itemrequest_id).name %></h1>
	    <h3><%= Itemrequest.find_by_id(offer.itemrequest_id).getorsend %> from 
	    <%= Itemrequest.find_by_id(offer.itemrequest_id).origin %> to 
	    <%= Itemrequest.find_by_id(offer.itemrequest_id).destination %> by 
	    <%= Itemrequest.find_by_id(offer.itemrequest_id).completiondate.strftime("%a %d %B %Y") %></h3><br>
	    <% loopflag = 1 %>
	  <% end %>  
	
      <tr>
        
		<td><%= User.find_by_id(offer.user_id).email %></td>
        <td><%= offer.cando_date.strftime("%a %d %B %Y") %></td>
        <td><%= link_to "Show", offer %></td>
        <td><%= link_to "Edit", edit_offer_path(offer) %></td>
        <td><%= link_to "Destroy", offer, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
	<kkk% end %>  
    <% end %>
  </table>

<% else %>  
<!-- RENDER THIS VIEW IF SHOWING OFFERS MADE *BY* CURRENT USER -->
  <h1>Offers you have made to your friends </h1>
  
  <table>
    <tr>
    
	  <th>Friend</th>
	  <th>Item	</th>
      <th>Can do by: </th>
    </tr>
    <% for offer in @offers %>
      
	   
	
      <tr>
        <% junk= offer.itemrequest_id %>
		<% junk2= Itemrequest.find_by_id(junk).user_id %>
		<% junk3= User.find_by_id(junk2).email %> 
		<% efriend= User.find_by_id(Itemrequest.find_by_id(offer.itemrequest_id).user_id).email %> 

		<td><%= efriend %></td>
		<td><%= Itemrequest.find_by_id(offer.itemrequest_id).name %></td>
        <td><%= offer.cando_date.strftime("%a %d %B %Y") %></td>
        <td><%= link_to "Show", offer %></td>
        <td><%= link_to "Edit", edit_offer_path(offer) %></td>
        <td><%= link_to "Destroy", offer, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
	
    <% end %>
  </table>

<% end %> <!-- if check for offersmade param -->

<%#= link_to "New Offer", new_offer_path %>
<p><%= link_to "Back to item requests", itemrequests_path %></p>

