<% title "New Offer" %>

<!-- user = User.all() -->
<!-- itemrequest = Itemrequest.find_by_id(params[:id]) -->
<!-- itemrequest = Itemrequest.all() -->
<!-- itemrequest[6].id --> 


<%= render 'form' %>

<p><%= link_to "Back to List", offers_path %></p>
