<% title "Offer show" %>

<p>
  <strong>I can get/send by:</strong>
  <%= @offer.cando_date %>
</p>

<p>
  <%= link_to "Edit", edit_offer_path(@offer) %> |
  <%= link_to "Delete", @offer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All My Offers", offers_path %> |
  <%= link_to "Back to item requests", itemrequests_path %>     
</p>
