<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
	
	<!-- 28.4.2012-->
	 <div id="user_nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <%= link_to "Profile", edit_user_registration_path %>
		  <%= link_to "Find friends", userlist_path %>
		  <%= link_to "Home", root_path %> 
		  <!-- <%= link_to "Find friends", friends_path %> -->
        <% else %>
          <!-- <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> -->
		  <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>  
		  
		  		  
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
  
  <!-- 28.4.2012 To get rails g devise:install running -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
</html>
